CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_MDBT50Q_RX=y

# Enable MPU
CONFIG_ARM_MPU=y

CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

CONFIG_SETTINGS=y
CONFIG_INPUT=y

CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

CONFIG_ZMK_ESB=n  # Set to y to enable ESB protocol
CONFIG_ZMK_ESB_RECEIVER=y # Set to 'y' to build a receiver(central) image and 'n' to build a transmitter(peripheral) 
CONFIG_ESB_FAST_RAMP_UP=n
CONFIG_ZMK_ESB_DYNAMIC_PAYLOAD=n

CONFIG_ZMK_BLE=n  # Set to 'y' to enable BLE
CONFIG_ZMK_SPLIT_LLPM=y # Set to 'y' to enable LLPM 1ms protocol
CONFIG_ZMK_SPLIT_ROLE_CENTRAL=y # Set to 'y' to build a central image and 'n' to build a peripheral
CONFIG_ZMK_SPLIT=y

CONFIG_ZMK_KSCAN_DEBOUNCE_PRESS_MS=0
CONFIG_ZMK_KSCAN_DEBOUNCE_RELEASE_MS=5
